include mixins.inc.jade

+head()

+header()

.content.wave_pos_after.wave_color_white
  .content-wrapper
    hr.waveline.waveline_gap
    .row
      .column.col1of5
        +equipment-list()
        +side-teaser('pic/side-teaser-1.jpg')
        +side-teaser('pic/side-teaser-2.jpg')

      .column.col4of5
        .section-title
          h1.title.section-title__text Выполненные проекты
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href = '#') Главная
          li.breadcrumbs__item
            a(href = '#') Оборудование
          li.breadcrumbs__item
            a(href = '#') Для бассейнов
          li.breadcrumbs__item Проекты
        .row
          .column.col1of2
            .image
              img.fluid(src = 'pic/equipment-1.jpg')
            .row
              .column.col1of3
                .image
                  img.fluid(src = 'pic/equipment-2.jpg')
              .column.col1of3
                .image
                  img.fluid(src = 'pic/equipment-3.jpg')
              .column.col1of3
                .image
                  img.fluid(src = 'pic/equipment-1.jpg')

          .column.col1of2
            h3.heading Насос для помпы Pompa
            p Квантовое состояние масштабирует межатомный пульсар, даже если пока мы не можем наблюсти это непосредственно. Плазменное образование возбуждает осциллятор одинаково по всем направлениям.
            p Призма растягивает межатомный фонон вне зависимости от предсказаний самосогласованной теоретической модели явления. Самосогласованная модель предсказывает, что при определенных условиях кристалл коаксиально расщепляет кварк, генерируя периодические импульсы синхротронного излучения.
            p Вселенная, несмотря на некоторую вероятность коллапса, растягивает наносекундный экситон даже в случае сильных локальных возмущений среды.
            button.button Скачать брошюру

+footer()

+tail()