include mixins.inc.jade

+head()

+header()

.content.wave_pos_after.wave_color_white
  .content-wrapper
    hr.waveline.waveline_gap
    .row
      .column.col1of5
        +side-teaser('pic/side-teaser-1.jpg')
        +side-teaser('pic/side-teaser-2.jpg')

      .column.col4of5
        .section-title
          h1.title.section-title__text Выполненные проекты
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href = '#') Главная
          li.breadcrumbs__item Проекты
        .row
          .column.col1of3
            .equipment-teaser
              .equipment-teaser__image
                img(src = 'pic/equipment-1.jpg')
              .equipment-teaser__info
                h3.heading.equipment-teaser__heading: a(href = '#') Насос для помпы Pompa
                p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
                button.button Подробнее

          .column.col1of3
            .equipment-teaser
              .equipment-teaser__image
                img(src = 'pic/equipment-3.jpg')
              .equipment-teaser__info
                h3.heading.equipment-teaser__heading: a(href = '#') Насос для помпы Pompa
                p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
                button.button Подробнее

          .column.col1of3
            .equipment-teaser
              .equipment-teaser__image
                img(src = 'pic/equipment-2.jpg')
              .equipment-teaser__info
                h3.heading.equipment-teaser__heading: a(href = '#') Насос для помпы Pompa
                p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
                button.button Подробнее

        .row
          .column.col1of3
            .equipment-teaser
              .equipment-teaser__image
                img(src = 'pic/equipment-2.jpg')
              .equipment-teaser__info
                h3.heading.equipment-teaser__heading: a(href = '#') Насос для помпы Pompa
                p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
                button.button Подробнее

          .column.col1of3
            .equipment-teaser
              .equipment-teaser__image
                img(src = 'pic/equipment-1.jpg')
              .equipment-teaser__info
                h3.heading.equipment-teaser__heading: a(href = '#') Насос для помпы Pompa
                p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
                button.button Подробнее

          .column.col1of3
            .equipment-teaser
              .equipment-teaser__image
                img(src = 'pic/equipment-3.jpg')
              .equipment-teaser__info
                h3.heading.equipment-teaser__heading: a(href = '#') Насос для помпы Pompa
                p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
                button.button Подробнее

+footer()

+tail()