.fotorama__stage__shaft,.fotorama__stage__frame,.fotorama__html,.fotorama__video iframe
  position absolute
  width 100%
  height 100%
  top 0
  right 0
  left 0
  bottom 0

.fotorama
  border-radius 10px
  box-shadow 0 30px 20px -20px rgba(0,0,0,.35)

.fotorama__stage
  border-radius 10px

.fotorama__stage__frame
  border-radius 10px

  &:after
    content ''

    display block

    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 100

    border-radius 10px
    box-shadow inset 0 0 0 7px rgba(255,255,255,.5)

.fotorama--fullscreen,.fotorama__img
  max-width 99999px!important
  max-height 99999px!important
  min-width 0!important
  min-height 0!important
  border-radius 0!important
  box-shadow none!important
  padding 0!important

.fotorama__wrap
  -webkit-text-size-adjust 100%
  position relative
  direction ltr
  .fotorama__grab
    cursor move
    cursor grab
  *
    box-sizing content-box
  .fotorama__pointer
    cursor pointer

.fotorama__grabbing
  *
    cursor move
    cursor grabbing

.fotorama__img,.fotorama__spinner
  position absolute!important
  top 50%!important
  left 50%!important

.fotorama__img
  margin -50% 0 0 -50%
  width 100%
  height 100%
  opacity 0
  border 0!important

.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__video-play,.fotorama__wrap--css3 .fotorama__video-close
  transform translate3d(0,0,0)

.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__stage__frame,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__caption,.fotorama__stage:before,.fotorama__stage:after,.fotorama__nav:before,.fotorama__nav:after
  transform translateZ(0)

.fotorama__wrap--video .fotorama__stage__shaft,.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__caption
  transform none!important

.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__thumb-border
  transition-property transform
  transition-timing-function cubic-bezier(0.1,0,.25,1)
  transition-duration 0ms

.fotorama__wrap,.fotorama__no-select,.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close
  user-select none

.fotorama__select
  user-select text
  cursor auto

.fotorama__nav,.fotorama__nav__frame
  margin 0
  padding 0

.fotorama__nav__shaft,.fotorama__nav__frame,.fotorama__caption__wrap
  display -moz-inline-box
  -moz-box-orient vertical
  display inline-block
  vertical-align middle
  *display inline
  *zoom 1

.fotorama__caption__wrap
  box-sizing border-box
  background-color #fff
  background-color rgba(255,255,255,.9)
  padding 5px 10px

.fotorama--hidden,.fotorama__load
  position absolute
  left -99999px
  top -99999px
  z-index -1

.fotorama__stage__shaft,.fotorama__stage__frame,.fotorama__nav,.fotorama__nav__shaft,.fotorama__nav__frame,.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close
  -webkit-tap-highlight-color rgba(0,0,0,0)

.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close
  background uri('img/uri-fotorama.png') no-repeat

.fotorama__arr
  background uri('img/uri-fotorama-arrows.png') no-repeat

.fotorama__thumb
  background-color #7f7f7f
  background-color rgba(127,127,127,.2)

@keyframes spinner
  0%
    transform: rotate(0);

  100%
    transform: rotate(360deg);

.fotorama__wrap--css3
  .fotorama__spinner
    animation spinner 24s infinite linear

.fotorama
  min-width 1px
  overflow hidden
  & > .fotorama__wrap
    visibility visible

.fotorama--hidden-before-ready
  & > *
    visibility hidden

.fullscreen
  width 100%!important
  height 100%!important
  max-width 100%!important
  max-height 100%!important
  margin 0!important
  padding 0!important
  overflow hidden!important
  background #000

.fotorama--fullscreen
  position absolute!important
  top 0!important
  left 0!important
  right 0!important
  bottom 0!important
  float none!important
  z-index 2147483647!important
  background #000
  width 100%!important
  height 100%!important
  margin 0!important
  .fotorama__loaded--full
    .fotorama__img
      display none
    .fotorama__img--full
      display block
  .fotorama__fullscreen-icon
    background-position -32px -32px

.fotorama--fullscreen .fotorama__stage,.fotorama--fullscreen .fotorama__nav
  background #000

.fotorama__wrap--rtl
  .fotorama__stage__frame
    direction rtl
  .fotorama__caption
    left auto
    right 0

.fotorama__stage,.fotorama__nav
  overflow hidden
  position relative
  max-width 100%

.fotorama__wrap--pan-y
  -ms-touch-action pan-y

.fotorama__wrap--slide
  .fotorama__stage__frame
    opacity 1!important

.fotorama__stage__frame
  overflow hidden
  &.fotorama__active
    z-index 8

.fotorama__wrap--fade
  .fotorama__stage__frame
    display none
  .fotorama__fade-front
    z-index 8
  .fotorama__fade-rear
    z-index 7
    &.fotorama__active
      z-index 9
  .fotorama__stage
    .fotorama__shadow
      display none

.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active,.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear
  display block
  left 0
  top 0

.fotorama__loaded .fotorama__img,.fotorama__error .fotorama__img
  opacity 1

.fotorama__img--full
  display none

.fotorama__wrap--only-active .fotorama__stage,.fotorama__wrap--only-active .fotorama__nav
  max-width 99999px!important

.fotorama__wrap--only-active
  .fotorama__stage__frame
    visibility hidden
    &.fotorama__active
      visibility visible

.fotorama__nav
  position relative
  top -30px

  margin-top -30px

  font-size 0
  line-height 0
  text-align center
  display none
  white-space nowrap
  z-index 5

.fotorama__nav__shaft
  position relative
  left 0
  top 0
  text-align left

.fotorama__nav__frame
  position relative
  cursor pointer
  &.fotorama__active
    pointer-events none
    cursor default
    .fotorama__dot
      width 12px
      height 12px
  .fotorama__video-play
    width 32px
    height 32px
    margin-left -16px
    margin-top -16px
    background-position -64px -32px
    opacity 1!important
    display block!important

.fotorama__nav--dots
  display block
  .fotorama__nav__frame
    width 24px
    height 30px

.fotorama__nav--dots .fotorama__nav__frame--thumb
.fotorama__nav--dots .fotorama__thumb-border
  display none

.fotorama__nav--thumbs
  display block
  .fotorama__nav__frame
    padding-left 0!important
    &:last-child
      padding-right 0!important
  .fotorama__nav__frame--dot
    display none

.fotorama__dot
  display block
  width 12px
  height 12px
  margin 2px
  position relative
  top 12px
  left 6px
  background-color rgba(255,255,255,1)
  border-radius 10px

.fotorama__active
  .fotorama__dot
    margin 0
    background-color rgba(255,255,255,.35)
    border 2px solid rgba(255,255,255,1)

.fotorama__thumb
  overflow hidden
  position relative
  width 100%
  height 100%

.fotorama__thumb-border
  position absolute
  z-index 9
  top 0
  left 0
  border-style solid
  border-color #00afea
  background-image linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))

.fotorama__caption
  position absolute
  z-index 12
  bottom 0
  left 0
  right 0
  font-family 'Helvetica Neue',Arial,sans-serif
  font-size 14px
  line-height 1.5
  color #000
  a
    text-decoration none
    color #000
    border-bottom 1px solid
    border-color rgba(0,0,0,.5)
    &:hover
      color #333
      border-color rgba(51,51,51,.5)

.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__caption
  transition-property opacity
  transition-timing-function linear
  transition-duration .3s

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__caption
  opacity 0

.fotorama__video
  top 32px
  right 0
  bottom 0
  left 0
  position absolute
  z-index 10

.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-play,.fotorama__video-close
  display block
  position absolute
  z-index 11
  cursor pointer

.fotorama__arr
  position absolute
  width 32px
  height 106px
  top 50%
  margin-top (@height/-2)

.fotorama__arr--prev
  left 64px
  background-position 5px 0

.fotorama__arr--next
  right 64px
  background-position -39px 0

.fotorama__arr--disabled
  pointer-events none
  cursor default
  *display none
  opacity .1

.fotorama__fullscreen-icon
  width 32px
  height 32px
  top 0
  right 0
  background-position 0 -32px
  z-index 20

.fotorama__video-play
  width 96px
  height 96px
  left 50%
  top 50%
  margin-left -48px
  margin-top -48px
  background-position 0 -64px
  display none

.fotorama__wrap--css3
  .fotorama__video-play
    display block
    opacity 0
  .fotorama__video-close
    display block
    opacity 0
    transform translate3d(32px,-32px,0)
  &.fotorama__wrap--video
    .fotorama__stage
      .fotorama__video-play
        display block
        opacity 0
        z-index -1
    .fotorama__video-close
      opacity 1
      transform translate3d(0,0,0)

.fotorama__loaded .fotorama__video-play,.fotorama__error .fotorama__video-play
  display block
  opacity 1

.fotorama__video-close
  width 32px
  height 32px
  top 0
  right 0
  display none
  background-position -64px 0
  z-index 20

.fotorama__wrap--no-controls .fotorama__arr,.fotorama__wrap--no-controls .fotorama__fullscreen-icon,.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon
  display none
  opacity 0

.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__fullscreen-icon,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon
  display block
  transform translate3d(32px,-32px,0)

.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--prev,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev
  display block
  transform translate3d(-48px,0,0)

.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--next,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next
  display block
  transform translate3d(48px,0,0)

.fotorama__wrap--video
  .fotorama__stage
    .fotorama__video-play
      display none
  .fotorama__video-close
    display block

.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__video-play,.fotorama__wrap--css3 .fotorama__video-close
  transition-property transform,opacity
  transition-duration .3s

.fotorama__stage:before,.fotorama__stage:after,.fotorama__nav:before,.fotorama__nav:after
  content ""
  display block
  position absolute
  text-decoration none
  top 0
  bottom 0
  width 10px
  height auto
  z-index 10
  pointer-events none
  background-repeat no-repeat
  background-size 1px 100%,5px 100%

.fotorama__stage:before,.fotorama__nav:before
  background-image linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent)
  background-position 0 0,0 0
  left -10px

.fotorama__stage.fotorama__shadows--left:before,.fotorama__nav.fotorama__shadows--left:before
  left 0

.fotorama__stage:after,.fotorama__nav:after
  background-image -webkit-linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),-webkit-radial-gradient(100% 50%,farthest-side,rgba(0,0,0,.4),transparent)
  background-image linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent)
  background-position 100% 0,100% 0
  right -10px

.fotorama__stage.fotorama__shadows--right:after,.fotorama__nav.fotorama__shadows--right:after
  right 0

.fotorama--fullscreen .fotorama__stage:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after
  display none

