include mixins.inc.jade

+head()

.content.wave_pos_before.wave_pos_after.wave_color_white
  .content-wrapper
    ul
      each page in ['main', 'equipment', 'equipment-item', 'equipment-project', 'projects', 'services', 'service']
        li: a(href = page + '.html')= page