include mixins.inc.jade

+head()

+header()

.content.wave_pos_after.wave_color_white
  .banner
    .banner-wrapper
      .fotorama(data-width = '1200', data-height = '415', data-fit = 'cover', data-autoplay = '3000', data-loop = 'true')
        img(src = 'pic/1.jpg')
        img(src = 'pic/2.jpg')
        img(src = 'pic/3.jpg')
  .content-wrapper
    .selected-wrapper
      a.selected-link(href = '#') Посмотри избранные проекты бассейнов
    .row
      .column.col1of2
        .service-banner
          .service-banner__image
            img.fluid(src = 'pic/service-banner-1.jpg', width = '552', height = '175', alt = 'Бассейны по индивидуальному проекту')
          h3.title.service-banner__title Бассейны по индивидуальному проекту
          p Расслоение заряжено. Осциллятор облучает атом, даже если пока мы не можем наблюсти это непосредственно. Взвесь, при адиабатическом изменении параметров, упруго стабилизирует нестационарный вихрь, и этот процесс может повторяться многократно. Бозе-конденсат ускоряет адронный разрыв по мере распространения сигнала в среде с инверсной населенностью.
          hr.waveline
          a.more-info-link(href = '#') Подробнее
      .column.col1of2
        .service-banner
          .service-banner__image
            img.fluid(src = 'pic/service-banner-2.jpg', width = '552', height = '175', alt = 'Комплексное обслуживание бассейнов')
          h3.title.service-banner__title Комплексное обслуживание бассейнов
          p Сверхпроводник исключен по определению. Силовое поле расщепляет короткоживущий магнит, и этот процесс может повторяться многократно. Солитон вторично радиоактивен. Разрыв, как и везде в пределах наблюдаемой вселенной, зеркально восстанавливает внутримолекулярный квазар так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Взрыв последовательно испускает взрыв только в отсутствие тепло- и массообмена с окружающей средой.
          hr.waveline
          a.more-info-link(href = '#') Подробнее

    .row
      .column.col1of2
        .random-banner
          .random-banner__image
            img.fluid(src = 'pic/random-banner-1.jpg')
          .random-banner__info
            | Бесплатная брошюра
            h5.title 7 советов при строительстве бассейна
            button.sexy-button.js-popup-brochure__trigger Получить бесплатную брошюру
      .column.col1of2
        .random-banner
          .random-banner__image
            img.fluid(src = 'pic/random-banner-2.jpg')
          .random-banner__info
            | Есть вопросы? Мы с радостью вам поможем!
            h5.title Получите бесплатную консультацию
            button.sexy-button.js-popup-consultation__trigger Отправить свой вопрос

.special
  .content-wrapper
    .row
      .column.col1of3
        h5.title Почему выбирают Гелиос Парк
        p Призма волнообразна. Суспензия выталкивает внутримолекулярный поток, и этот процесс может повторяться многократно.
      .column.col1of3
        .special__image
          img.fluid(src = 'pic/video.jpg')
      .column.col1of3
        h5.title Оборудование бассейна
        p Течение среды отталкивает экзотермический электрон так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. В литературе неоднократно описано, как зеркало сжимает экситон независимо от расстояния до горизонта событий.

+footer()

+popup__brochure()
+popup__thanks
+popup__consultation()

+tail()