mixin equipment-list()
  dl.equipment-list
    dt.equipment-list__heading Каталог оборудования
    dd.equipment-list__item
      span Оборудование 1
      span.equipment-list__counter 12
    dd.equipment-list__item
      span Оборудование 2
      span.equipment-list__counter 15
    dd.equipment-list__item
      span Оборудование 3
      span.equipment-list__counter 26
    dd.equipment-list__item
      span Оборудование 4
      span.equipment-list__counter 3
    dd.equipment-list__item
      span Оборудование 5
      span.equipment-list__counter 8

mixin footer()
  .footer
    .content-wrapper
      .row
        .column.col2of3
          ul.footer-menu
            li.footer-menu__item Главная
            li.footer-menu__item
              a(href = '#') О компании
            li.footer-menu__item
              a(href = '#') Услуги
            li.footer-menu__item
              a(href = '#') Проекты
            li.footer-menu__item
              a(href = '#') Оборудование
            li.footer-menu__item
              a(href = '#') Вопрос-ответ
            li.footer-menu__item
              a(href = '#') Контакты
        .column.col1of3.footer__legal
          span.legal © 2014, «Gelios Park»
          a.legal.legal_link_vk(href = '#')
          a.legal.legal_link_fb(href = '#')
          a.legal.legal_link_pm(href = '#')

mixin head()
  doctype html

  meta(charset = 'utf-8')
  meta(http-equiv = 'content-type', content = 'text/html; charset=utf-8')

  meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')

  title Gelios Park

  meta(name = 'viewport', content = 'width=device-width')

  link(rel = 'stylesheet', href = 'screen.css')
  link(rel = 'stylesheet', href = 'http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic')

mixin header()
  .header.wave_pos_before.wave_color_white
    .content-wrapper
      .row
        .column.col1of3
          a.logotype(href = '/')
        .column.col2of3.header__info
          ul.contacts
            li.contacts__item.contacts__item_type_phone
              span Тел.: 
              | +7 (812) 327 15 15
            li.contacts__item.contacts__item_type_email
              span Эл. почта: 
              a(href = 'mailto:info@gelios.ru') info@gelios.ru
            li.contacts__item.contacts__item_type_address
              span Адрес: 
              | Санкт-Петербург, пр-т Кутузова, д. 1, оф. 205
          ul.menu
            li.menu__item
              a(href = '#') О компании
            li.menu__item
              a(href = '#') Услуги
            li.menu__item
              a(href = '#') Проекты
            li.menu__item
              a(href = '#') Оборудование
            li.menu__item
              a(href = '#') Вопрос-ответ
            li.menu__item
              a(href = '#') Контакты

mixin popup__brochure()
  .popup-wrapper.js-popup.js-popup-brochure
    article.popup
      header.popup__header
        h3.popup__title Получить бесплатную брошюру
        i.close.js-close
      .popup__body
        form.form
          .form__row
            .form__label
              label.label(for = 'brochure-name') Имя
            .form__input
              input.input(type = 'text', name = 'brochure-name')
          .form__row
            .form__label
              label.label(for = 'brochure-phone') Телефон
            .form__input
              input.input(type = 'text', name = 'brochure-phone')
          .form__row
            .form__label
              label.label(for = 'brochure-email') Эл. почта
            .form__input
              input.input(type = 'text', name = 'brochure-email')
          .form__row
            .form__label
            .form__input
              button.button.js-popup-brochure__send Получить

mixin popup__consultation()
  .popup-wrapper.js-popup.js-popup-consultation
    article.popup
      header.popup__header
        h3.popup__title Получить бесплатную консультацию
        i.close.js-close
      .popup__body
        form.form
          .form__row
            .form__label
              label.label(for = 'consultation-name') Имя
            .form__input
              input.input(type = 'text', name = 'consultation-name')
          .form__row
            .form__label
              label.label(for = 'consultation-phone') Телефон
            .form__input
              input.input(type = 'text', name = 'consultation-phone')
          .form__row
            .form__label
              label.label(for = 'consultation-email') Эл. почта
            .form__input
              input.input(type = 'text', name = 'consultation-email')
          .form__row
            .form__label
              label.label(for = 'consultation-question') Эл. почта
            .form__input
              textarea.input(name = 'consultation-question')
          .form__row
            .form__label
            .form__input
              button.button.js-popup-consultation__send Получить

mixin popup__thanks()
  .popup-wrapper.js-popup.js-popup-thanks
    article.popup
      header.popup__header
        h3.popup__title Получить бесплатную брошюру
        i.close
      .popup__body
        br
        br
        .title Спасибо! Ваш запрос отправлен.
        br
        br
        center
          button.button.js-close Закрыть

mixin project(image)
  .project
    h3.heading Название услуги
    .image
      img.fluid(src = image)
    block
    button.button Подробнее

mixin pagination(pages)
  .pagination
    a(href = '#') Смотреть ещё
    - for(var i = 1; i <= pages; i++)
      a(href = '#')= i

mixin side-teaser(image)
  .side-teaser
    .side-teaser__image
      img.fluid(src = image)
    .side-teaser__button
      button.button Жмите

mixin tail()
  script(src = '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src = 'http://fotorama.s3.amazonaws.com/4.4.9/fotorama.js')
  script(src = 'script.js')