include mixins.inc.jade

+head()

+header()

.content.wave_pos_after.wave_color_white
  .content-wrapper
    hr.waveline.waveline_gap
    .row
      .column.col1of5
        +side-teaser('pic/side-teaser-1.jpg')
        +side-teaser('pic/side-teaser-2.jpg')

      .column.col4of5
        .section-title
          h1.title.section-title__text Выполненные проекты
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href = '#') Главная
          li.breadcrumbs__item Выполненные проекты
        .row
          .column.col1of2
            +project('pic/service-teaser-1.jpg')
              p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения.
          .column.col1of2
            +project('pic/service-teaser-2.jpg')
              p Поверхность зеркально усиливает атом в том случае, когда процессы переизлучения спонтанны.

        .row
          .column.col1of2
            +project('pic/service-teaser-3.jpg')
              p Гомогенная среда эксперментально верифицируема. Кристалл, в согласии с традиционными представлениями, теоретически возможен.
          .column.col1of2
            +project('pic/service-teaser-1.jpg')
              p Галактика возбуждает гидродинамический удар, и этот процесс может повторяться многократно.

        +pagination(3)

+footer()

+tail()