blue = rgb(0,90,125)
gray = rgb(210,210,210)

// ============================================================================================= //
@import 'fonts.inc'
// ============================================================================================= //

*
  box-sizing border-box

  margin 0
  padding 0

  background-color transparent
  border 0

  vertical-align top

  &:focus
    outline none

html
button
input
select
textarea
  color rgb(100,100,100)
  font 13px/20px 'Open Sans', Helvetica, Verdana, Arial, sans-serif
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

html
  min-width 1280px

  background uri('img/uri-html__background.jpg') center top

  &.is-locked
    max-height 100%
    overflow hidden

body
  margin 0 auto

::selection
  background rgb(179,193,93)
  color rgb(42,49,58)
  text-shadow none

img
  vertical-align middle

textarea
  resize vertical

p
  margin-bottom 1.5em

a
  &:link
  &:visited
    color blue

    transition color .35s

  &:hover
  &:active
    color lighten(blue, 35%)

    transition none

// ============================================================================================= //
@import 'grids.inc'
// ============================================================================================= //

.title
  margin 0 0 15px

  color blue
  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 24px
  font-weight normal
  line-height 30px

.heading
  margin 0 0 15px

  color rgb(95,95,95)
  font-size 15px

// ============================================================================================= //

.banner
  margin-bottom 20px

  background uri('img/uri-banner-wrapper__background.png') repeat-x center center

.banner-wrapper
.content-wrapper
  width 1200px
  margin 0 auto

.breadcrumbs
  list-style none

  margin-bottom 30px

  color rgb(95,95,95)
  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 0
  font-weight bold

  &__item
    display inline-block

    font-size 12px

    a
      &:link
      &:visited
        color rgb(190,190,190)

        text-decoration none

        transition color .35s

        &:after
          content '›'

          display inline-block

          padding 0 .25em 0 .4em

      &:hover
      &:active
        color lighten(blue, 35%)

        transition none

.button
  padding 10px 25px

  background uri('img/uri-noise.png')
  background linear-gradient(to bottom, rgba(255,255,255,.1), rgba(0,0,0,.1)), uri('img/uri-noise.png')
  border-radius 7px
  box-shadow inset 0 1px 1px rgba(255,255,255,.25), inset 0 -1px 1px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.075)

  color rgb(75,73,68)
  font-size 14px
  font-weight bold

  transition box-shadow .35s, color .35s

  &:hover
    box-shadow inset 0 1px 1px rgba(255,255,255,.25), inset 0 -1px 1px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.075), 0 0 3px 1px lighten(rgba(0,90,125,.5), 35%)

    color lighten(blue, 15%)

    transition none

  &:focus
    box-shadow inset 0 1px 1px rgba(255,255,255,.25), inset 0 -1px 1px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.075), 0 0 3px 1px lighten(rgba(0,90,125,.35), 35%)

    color blue

    transition none


  &:active
    position relative
    top 1px

    background linear-gradient(to top, rgba(255,255,255,.1), rgba(0,0,0,.1)), uri('img/uri-noise.png')

.close
  display block

  position absolute
  top 9px
  right 10px

  width 21px
  height 21px

  background uri('img/uri-close-icon.png') no-repeat center center
  cursor pointer

.contacts
  list-style none

  margin-bottom 7px

  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 0

  &__item
    display inline-block

    margin-left 20px
    padding-left 20px

    font-size 12px

    span
      display none

    &_type
      &_phone
      &_email
      &_address
        background-position left 1px
        background-repeat no-repeat

      &_phone
        background-image uri('img/uri-phone-icon.png')
        background-position left 2px

      &_email
        background-image uri('img/uri-email-icon.png')

      &_address
        background-image uri('img/uri-address-icon.png')

.content
  position relative

  padding 20px 0 60px

  background-color white

.equipment-list
  margin-bottom 20px

  border 1px solid gray
  border-radius 5px
  overflow hidden

  &__heading
    padding 10px 15px

    background-color blue

    color white
    font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
    font-size 15px
    font-weight bold
    text-align center

  &__item
    position relative

    padding 10px 10px 10px 35px

    background uri('img/uri-equipment-icon.png') no-repeat 10px 12px
    cursor pointer

    font-size 13px

    transition background-color .35s

    &:not(:last-child)
      border-bottom 1px solid gray

    &:hover
      background uri('img/uri-equipment-icon.png') no-repeat 10px -36px
      background-color lighten(gray, 50%)

      transition none

  &__item:hover &__counter
    background-color blue

    transition none

  &__counter
    display inline-block

    position absolute
    top 12px
    right 5px

    padding 1px 4px 0

    background-color gray
    border-radius 3px

    color white
    font-size 12px
    font-family 'Open Sans', Helvetica, Verdana, Arial, sans-serif
    line-height 16px

    transition background-color .35s

.equipment-teaser
  margin 0 -3px 20px
  padding 3px

  border 1px solid gray
  border-radius 5px

  &__image
    img
      width 100%
      height auto

  &__info
    padding 20px

  &__heading
    padding-right 20px

    background uri('img/uri-link.png') no-repeat right 4px

.fluid
  width 100%
  height auto

.footer
  padding 25px 0 20px

  color white
  font-size 14px

  &__legal
    text-align right

.footer-menu
  display inline-block

  position relative
  top 2px

  list-style none

  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 0

  vertical-align middle

  &__item
    display inline-block

    margin-right 25px

    color white
    font-size 14px

    a
      &:link
      &:visited
        color white

        transition color .35s

      &:hover
      &:active
        color lighten(blue, 35%)

        transition none

.form

  *
    vertical-align middle

  &__row
    display table

    width 100%

    margin-bottom 10px

  &__label
    display table-cell

    width 30%

  &__input
    display table-cell

    width 70%

.header
  position relative

  margin-top 12px
  padding-top 30px
  padding-bottom 10px

  background-color white

  &__info
    text-align right

.image
  margin 0 -3px 10px
  padding 3px

  border 1px solid gray
  border-radius 5px

  img
    border-radius 3px

.input
  display block

  width 100%
  padding 10px

  background-color white
  border 2px solid rgb(227,228,232)
  border-radius 5px

.legal
  display inline-block

  margin-left 20px

  font-size 12px
  vertical-align middle

  &_link
    &_vk
      width 27px
      height 27px

      background uri('img/uri-vk.png') no-repeat center center

    &_fb
      width 27px
      height 27px

      background uri('img/uri-fb.png') no-repeat center center

    &_pm
      width 84px
      height 22px

      background uri('img/uri-pm.png') no-repeat center center

.logotype
  display block

  width 323px
  height 52px

  background url('img/logotype.png') no-repeat center center

.menu
  list-style none

  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 0

  &__item
    display inline-block

    margin-left 15px

    font-size 16px

    &:not(:first-child)
      &:before
        content '•'

        display inline-block

        padding-right 15px

        color lighten(blue, 35%)

    a
      text-decoration none

.more-info-link
  display inline-block

  padding 2px 0
  padding-right 25px

  background uri('img/uri-more-info.png') no-repeat right 3px

  font-size 12px

  &:hover
    background-position right -35px

.pagination
  margin 20px 0

  text-align center

  a
    padding 0 10px

    font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
    font-size 15px

.popup
  width 434px
  margin 15% auto 0
  padding 3px

  background white
  border-radius 5px

  font-size 14px

  &__header
    position relative

    margin-bottom 3px
    padding 10px
    padding-right 35px

    background-color rgb(45,125,145)
    border-radius 5px

    color white
    font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
    font-size 18px

  &__body
    padding 10px

    background-color rgb(240,240,240)
    border-radius 5px

.popup-wrapper
  display none

  position fixed
  top 0
  right 0
  bottom 0
  left 0

  background-color rgba(0,0,0,.7)

  &.is-active
    display block

.project
  margin-bottom 40px

.random-banner
  position relative

  margin 20px 0

  color lighten(blue, 35%)
  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 14px
  line-height 25px

  &__image
    padding-bottom 3px

    background uri('img/uri-html__background.jpg') center center

  &__info
    position absolute
    top 0
    right 0
    left 0

    padding 25px

.section-title
  margin-bottom 15px

  border-bottom 1px dashed gray

  &__text
    display inline-block

    margin-bottom -1px
    padding-bottom 10px

    border-bottom 1px solid blue

.selected-link
  display block

  padding-top 114px

  background uri('img/uri-selected.png') no-repeat center top

  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 20px
  font-weight bold
  text-decoration none

.selected-wrapper
  padding 20px 0

  background uri('img/uri-gray-wave.png') repeat-x center center

  text-align center

.service-banner
  margin 20px 0 40px

  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 14px

  &__image
    padding-bottom 3px

    background uri('img/uri-html__background.jpg') center center

  &__title
    margin 20px 0 15px

    color lighten(blue, 35%)

.service-teaser
  margin-bottom 50px

  &__image
    img
      width 100%
      height auto

.sexy-button
  padding 13px 25px

  background uri('img/uri-sexy-button.png') repeat-x center center
  border 1px solid blue
  border-radius 5px
  box-shadow inset 0 1px 3px rgba(255,255,255,.75), inset 0 -2px 4px rgba(0,0,0,.25)
  cursor pointer

  color white
  font-family 'Avant Garde Gothic C', 'Open Sans', Helvetica, Verdana, Arial
  font-size 18px
  text-shadow 0 1px 1px rgba(blue, .75)

  transition background .35s, box-shadow .35s, color .35s, text-shadow .35s

  &:hover
    background uri('img/uri-sexy-button.png') repeat-x center -20px
    box-shadow inset 0 1px 3px rgba(255,255,255,.75), inset 0 -2px 4px rgba(0,0,0,.25), 0 0 6px 2px lighten(rgba(0,90,125,.5), 35%)

    text-shadow 0 1px 1px rgba(blue, 1)

  &:focus
    background uri('img/uri-sexy-button.png') repeat-x center -20px
    box-shadow inset 0 1px 3px rgba(255,255,255,.75), inset 0 -2px 4px rgba(0,0,0,.25), 0 0 6px 2px lighten(rgba(0,90,125,.35), 35%)

    text-shadow 0 1px 1px rgba(blue, 1)

  &:active
    position relative
    top 1px

.side-teaser
  position relative

  margin-bottom 20px

  border-radius 5px
  border 1px solid gray
  overflow hidden

  text-align center

  &__image
    img
      width 100%
      height auto

  &__button
    position absolute
    right 40px
    bottom 20px
    left 40px

    z-index 5

.special
  position relative

  padding 20px 0 40px

  background-color rgb(245,242,235)

  *
    vertical-align middle

  &:before
  &:after
    content ''

    display block

    position absolute
    right 0
    left 0

    height 4px

  &:before
    bottom 100%

    background uri('img/uri-beige-wave__top.png') center center

  &:after
    top 100%

    background uri('img/uri-beige-wave__bottom.png') center center

  &__image
    padding-bottom 3px

    background uri('img/uri-html__background.jpg') center center

.wave
  &_pos
    &_before
    &_after
      &:before
      &:after
        display block

        position absolute
        right 0
        left 0

        height 4px

    &_before
      &:before
        content ''

        bottom 100%

    &_after
      &:after
        content ''

        top 100%

  &_color
    &_white
      &:before
        background uri('img/uri-white-wave__top.png') center center

      &:after
        background uri('img/uri-white-wave__bottom.png') center center

.waveline
  height 9px
  margin-bottom 20px

  background uri('img/uri-gray-wave.png') repeat-x center center

  &_gap
    margin-bottom 40px

// ============================================================================================= //
@import 'fotorama.inc'
// ============================================================================================= //