include mixins.inc.jade

+head()

+header()

.content.wave_pos_after.wave_color_white
  .content-wrapper
    hr.waveline.waveline_gap
    .row
      .column.col1of5
        +side-teaser('pic/side-teaser-1.jpg')
        +side-teaser('pic/side-teaser-2.jpg')

      .column.col4of5
        .section-title
          h1.title.section-title__text Услуги
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href = '#') Главная
          li.breadcrumbs__item Услуги
        .service-teaser
          .row
            .column.col3of5
              h3.heading Название услуги
              p Очевидно, что примесь отталкивает взрыв, генерируя периодические импульсы синхротронного излучения. Среда теоретически возможна. Многочисленные расчеты предсказывают, а эксперименты подтверждают, что пульсар исключен по определению. Химическое соединение сингулярно отталкивает субсветовой газ при любом агрегатном состоянии среды взаимодействия.
              button.button Подробнее
            .column.col2of5
              .image.service-teaser__image
                img(src = 'pic/service-teaser-1.jpg')

        .service-teaser
          .row
            .column.col3of5
              h3.heading Название услуги
              p Поверхность зеркально усиливает атом в том случае, когда процессы переизлучения спонтанны. Гомогенная среда эксперментально верифицируема. Кристалл, в согласии с традиционными представлениями, теоретически возможен. Галактика возбуждает гидродинамический удар, и этот процесс может повторяться многократно.
              button.button Подробнее
            .column.col2of5
              .image.service-teaser__image
                img(src = 'pic/service-teaser-2.jpg')

        .service-teaser
          .row
            .column.col3of5
              h3.heading Название услуги
              p Гидродинамический удар квазипериодично отражает экзотермический экситон в полном соответствии с законом сохранения энергии. Разрыв, в первом приближении, вторично радиоактивен. Плазменное образование, как следует из совокупности экспериментальных наблюдений, мономолекулярно заряжает нестационарный газ, и это неудивительно, если вспомнить квантовый характер явления. Возмущение плотности стабильно.
              button.button Подробнее
            .column.col2of5
              .image.service-teaser__image
                img(src = 'pic/service-teaser-3.jpg')

+footer()

+tail()